# Normalise line endings to LF in the repo, checkout as-is on Windows
* text=auto eol=lf

# Force binary files to not be touched
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
